@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#root {
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.textarea-focus:focus {
  border-color: #555;  /* This is a slightly darker gray. Adjust as needed. */
  outline: none;       /* This removes the default browser outline. */
}

.yourClass {
  position: relative;
  background: transparent;
}

.yourClass::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(45, 55, 72, 0.24);
  z-index: -1; /* This places the background behind the content of the div */
  border-radius: 8px; /* Add this line to ensure the pseudo-element also has rounded corners */

}
